/* General Navbar Styles */
.navbar {
  padding: 0.5rem 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

/* Navbar Toggle Button Styles */
.navbar-toggler {
  right: 1rem; /* Adjust this value as needed */
}

/* Media Query for Mobile Screens */
@media (max-width: 992px) {
  .navbar-nav {
    align-items: center;
  }
  
  .navbar-toggler {
    right: 1rem; /* Ensures the toggle button is aligned to the right */
  }
  
  .navbar-collapse {
    width: 100%;
  }
  .nav-item {
    margin-top: 4px;
  }
}
