/* components/Sidebar.css */
.sidebar {
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  width: 250px;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

h4 {
  margin-top: 0;
  color: #343a40;
  font-size: 1.25rem;
  font-weight: 500;
}

.list-group {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.list-group-item {
  border: none;
  border-radius: 0;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
}

.list-group-item:hover {
  background-color: #e9ecef;
}

.list-group-item.online {
  color: #28a745; /* Green color for online users */
}

.list-group-item a {
  text-decoration: none;
  color: inherit;
}

.list-group-item a:hover {
  color: #007bff;
}

.btn-link {
  margin-top: auto;
  text-decoration: none;
}

.list-group-item::after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 0;
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
  font-size: 0.875rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.list-group-item:hover::after {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #dee2e6;
  }
}
